.card {
    background-color: white;
    width: 100%;
    text-decoration: none;
    color: #333333;
    padding: 0 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
}


@media screen and (min-width: 840px) {
    .card:nth-child(3n + 2), .card:nth-child(3n) {
        border-left: 1px solid #BFBFBF;
    }
}

@media screen and (min-width: 540px) and (max-width: 840px) {
    .card:nth-child(2n) {
        border-left: 1px solid #BFBFBF;
    }
}

.link {
    text-decoration: none;
    color: #333333;
}

.header {
    display: flex;
    padding: 10px 0;
    align-items: center;
    border-top: 1px solid #333333;
}

.header-title {
    font-size: 20px;
    margin: 0;
    flex-grow: 1;
}

.header-icon {
}

.image {
    width: 100%;
    object-fit: cover;
}

.topics {
    display: flex;
    padding: 5px 10px;
    flex-wrap: wrap;
}

.topic-item {
    padding: 0 3px;
    background-color: #dfdfdf;
    margin: 3px;
}

.clips {
    padding: 0 10px;
}

.clip-item {
    padding: 10px 0;
    margin: 0;
    text-decoration: none;
    color: #333333;
}

.clip-item:nth-child(1) {
    border-bottom: 1px solid #BFBFBF;
}

.clip-item-text {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

