.card {
    background-color: white;
    max-width: 100%;
    margin-bottom: auto;
    text-decoration: none;
    color: #333333;
}

.image {
    padding: 0;
    object-fit: cover;
    max-width: 100%;
}

.body {
    padding: 5px 20px 10px 20px;
    max-width: 100%;
}

.title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.sub-title {
    font-size: 12px;
    color: #848484;
    font-weight: 400;
    margin: 5px 0;
}

.speaker {
    display: flex;
    align-items: center;
}

.speaker-image {
    padding: 0;
    margin-right: 10px;
    object-fit: cover;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.speaker-name {
    margin: 0 10px 0 0;
    font-weight: 400;
    font-size: 12px;
}

.speaker-info {
    margin: 0;
    font-weight: 400;
    color: #848484;
    font-size: 12px;
}