.card {
    background-color: white;
    max-width: 100%;
    border-radius: 10px;
}

.image {
    padding: 0;
    object-fit: cover;
    max-width: 100%;
}

.body {
    padding: 20px 50px;
    max-width: 100%;
}

.title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.05em;
    margin: 0;
}

.sub-title {
    font-size: 16px;
    color: #848484;
    font-weight: 400;
    margin: 10px 0;
}

.links {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-item {
    width: 45%;
    margin: 10px 0;
    padding: 10px 5px;
    border: 1px solid #000000;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333333;
}

.link-item-text {
    margin: 0 0 0 10px;
    font-size: 16px;
}

.link-item:hover {
    background-color: black;
    color: white;
}

@media screen and (max-width: 840px) {
    .body {
        padding: 20px;
    }
}

@media screen and (max-width: 540px) {
    .link-item {
        width: 90%;
        margin: 5px 0;
    }
}