.card {
    background-color: white;
    display: flex;
    padding: 0 10px;
    align-items: center;
}

.member {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-grow: 1;
}

.speaker:hover {
    text-decoration: underline;
    text-decoration-color: #333333;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    object-fit: cover;
    max-width: 100%;
}

.detail {
    margin: 0 5px 0 10px;
    color: #333;
}

.name {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info-text {
    margin: 0 5px 0 0;
    font-size: 14px;
    color: #848484;
}