.card {
    background-color: white;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
}

.speaker {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.speaker:hover {
    text-decoration: underline;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    object-fit: cover;
    max-width: 100%;
}

.detail {
    margin: 0 5px 0 10px;
    color: #333;
}

.name {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.info {
    display: flex;
    flex-wrap: wrap;
}

.info-text {
    margin: 0 5px 0 0;
    font-size: 14px;
    color: #848484;
}

.follow {
    flex-grow: 1;
    max-width: 150px;
    border-radius: 24px;
    margin: auto;
    background-color: black;
    padding: 5px 10px;
    text-align: center;
}

.follow-text {
    color: white;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
}