.chip {
    background-color: white;
    text-decoration: none;
    color: #333333;
    border-radius: 12px;
    padding: 5px 10px;
    margin: 5px 3px;
    display: flex;
    align-items: center;
    border: 1px solid #D4D4D4;
}

.image {
    padding: 0;
    object-fit: cover;
}

.title {
    margin: 0 10px;
}