.footer {
    padding: 80px 0;
}

.footer-icons {
    display: flex;
    justify-content: center;
}

.footer-icon-item {
    margin: 10px;
    color: #777777;
}

.footer-text {
    margin: 0;
    color: #777777;
    text-align: center;
    font-size: 12px;
}