.container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 700px;
    height: 3rem;
    background-color: white;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: relative;
    margin: auto;
    box-sizing: border-box;
}

.icon {
    margin: 0 10px;
    color: #848484;
}

.input {
    flex-grow: 1;
    font-size: 1rem;
    padding: 0;
    border: none;
    outline: none;
}

.input:placeholder-shown {
    text-overflow: ellipsis;
}

.toggle {
    background-color: transparent;
    width: 160px;
    display: flex;
    text-align: left;
    border: none;
    border-left: 1px solid #bbb;
}

.toggle-text {
    flex-grow: 1;
    padding: 0 10px;
    font-size: 16px;
    color: black;
}

.toggle-icon {
    margin-top: 3px;
}

.filter {
    position: absolute;
    z-index: 2;
    background-color: white;
    top: 60px;
    right: 0;
    width: 160px;
    height: auto;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.filter-item {
    background-color: transparent;
    border: none;
    width: 100%;
    text-align: start;
}

.filter-item:hover {
    background-color: #dfdfdf;
}

.filter-text {
    margin: 10px;
    color: #848484;
    font-size: 16px;
}

.filter-text-selected {
    composes: filter-text;
    color: black;
    font-weight: 700;
}

