.container {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.title {
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

.grid {
    display: grid;
    gap: 10px;
    padding-bottom: 10px;
}
